@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Outfit", sans-serif;
}

:root {
  /* Container variables */
  --container-padding-default: 1rem;
  --container-padding-sm: 1.5rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 6rem;
  --container-padding-2xl: 8rem;

  --primary-color: #543a14;
  --secondary-color: #f0bb78;
  --white-color: #fff;
  --blue-color: #3a0ca3;
  --dark-color: #131010;
  --black-color: #000;
  --light-bg-color: #f7eeed;
  --error-color: #ef233c;
}

@layer utilities {
  .flex-align-center {
    @apply flex items-center;
  }

  .section-title {
    @apply flex-align-center gap-2 md:gap-4 lg:text-4xl text-primary md:text-3xl text-2xl;
  }

  .title-with-action {
    @apply flex flex-col justify-between gap-4 md:flex-row md:items-center;
  }

  .section-layout {
    @apply flex w-full flex-col gap-8 py-12 sm:py-16 md:py-24;
  }
}
