@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Outfit", sans-serif;
}

:root {
  /* Container variables */
  --container-padding-default: 1rem;
  --container-padding-sm: 1.5rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 6rem;
  --container-padding-2xl: 8rem;
}
